{% extends "templates/base.html" %}

{% block content %}
<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter device name">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter device address">
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
<br>
{% if created_device_id %}
<div id="notificationMessage" class="alert alert-success" role="alert">New device with id: {{created_device_id}} was inserted!</div>
{% endif %}
{% if errors %}
<div id="errorMessage" class="alert alert-danger" role="alert">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
