{% extends "templates/base.html" %}

{% block content %}
<form method="post">
    <div class="form-group">
        <p>Device with id: <strong>{{ device_id }}</strong> will be activated</p>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
<br>
{% if device_activated %}
<div id="notificationMessage" class="alert alert-success" role="alert">The device was activated!</div>
{% endif %}
{% if device_activated == False %}
<div id="errorMessage" class="alert alert-danger" role="alert">Device activation error</div>
{% endif %}
{% endblock %}
